body {
	font-family: Inconsolata, monospace;
	margin: 0;
	background-image: url(gradient.png);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: left top;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin-bottom: 0;
}

textarea#fuckoff {
	height: calc(100% - 5em);
	width: 100%;
	font-family: Inconsolata, monospace;
	border: none;
	outline: none;
	background: transparent;
	color: black;
	font-size: 1em;
	resize: none;
}

textarea#text {
	resize: none;
	overflow: hidden;
	margin: 0;
	width: calc(100% - 10em);f
	font-family: Inconsolata, monospace;
}

div#footer {
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 100%;
}

span#span {
	position: fixed;
	right: 0;
}